proxmox_api_url          = "https://x.x.x.x:8006/api2/json"
proxmox_api_token_id     = "root@pam!description"
proxmox_api_token_secret = "xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx"

proxmox_node_name      = "pve"
proxmox_storage_pool   = "local-lvm"
proxmox_network_bridge = "vmbr0"